.ColorEditor {
  flex-basis: calc(100% - var(--spacing-unit));
}

.ColorEditor-header {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-unit);
}

.ColorEditor-sliders {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-unit);
  margin-top: 0;
}

.ColorEditor-sliders label {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-unit);
  margin-bottom: calc(var(--spacing-unit) / 2);
}
